<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIAppFonts</key>
	<array>
		<string>Amagro-bold.ttf</string>
		<string>AnekGujarati-Regular.ttf</string>
		<string>AnekGujarati-Bold.ttf</string>
		<string>AnekGujarati-ExtraBold.ttf</string>
		<string>AnekGujarati-ExtraLight.ttf</string>
		<string>AnekGujarati-Light.ttf</string>
		<string>AnekGujarati-Medium.ttf</string>
		<string>AnekGujarati-SemiBold.ttf</string>
		<string>AnekGujarati-Thin.ttf</string>
	</array>
</dict>
</plist>
